<h2>{{ title }}</h2>

<!-- Editar persona -->
<form #personaForm="ngForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="tipoIdentificacion">Tipo Identificación</label>
            <select id="tipoIdentificacion" name="tipoIdentificacion" class="form-control" [(ngModel)]="persona.tipoIdentificacion" disabled="true" required>
                <option *ngFor="let ti of tipoIdentificaciones" [value]="ti">{{ti}}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="numeroIdentificacion">Número Identificación</label>
            <input id="numeroIdentificacion" name="numeroIdentificacion" type="number" class="form-control" [(ngModel)]="persona.numeroIdentificacion" #numeroIdentificacion="ngModel" placeholder="Numero" required/>
            <div [hidden]="numeroIdentificacion.valid || numeroIdentificacion.pristine" class="alert alert-danger">El número de identificación es obligatorio</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nombre">Nombres</label>
            <input id="nombre" name="nombre" type="text" class="form-control" [(ngModel)]="persona.nombre"  #nombre="ngModel"  placeholder="Nombre" required/>
            <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">El nombre es obligatorio</div>
        </div>
        <div class="form-group col-md-6">
            <label for="apellido">Apellidos</label>
            <input id="apellido" name="apellido" type="text" class="form-control" [(ngModel)]="persona.apellido" #apellido="ngModel" placeholder="Apellido" required/>
            <div [hidden]="apellido.valid || apellido.pristine" class="alert alert-danger">El apellido es obligatorio</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="fechaNacimiento">Fecha Nacimiento</label>
            <input id="fechaNacimiento" name="fechaNacimiento" type="date" class="form-control" [(ngModel)]="persona.fechaNacimiento" #fechaNacimiento="ngModel" required/>
            <div [hidden]="fechaNacimiento.valid || fechaNacimiento.pristine" class="alert alert-danger">La fecha es obligatoria</div>
        </div>
        <div class="col-md-6" >
            <div class="form-check">
                <label for="mayorEdad" class="form-check-label">Es mayor de edad</label>
                <input id="mayorEdad" name="mayorEdad" type="checkbox" class="form-check-input" [(ngModel)]="persona.mayorEdad" required/>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="form-check">
            <label for="sexo" class="form-check-label">Sexo</label>
            <input id="sexoMasculino" name="sexo" type="radio" class="form-check-input" value="hombre" [(ngModel)]="persona.sexo" /><span>Hombre</span> | 
            <input id="sexoFemenino" name="sexo" type="radio" class="form-check-input" value="mujer" [(ngModel)]="persona.sexo" /><span>Mujer</span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10">
            <input class="btn btn-default" value="Editar" type="submit" (click)="Editar();" [disabled]="!personaForm.form.valid" />
        </div>
    </div>

</form>

 <pre>{{ persona | json }}</pre>
